<div class="card">
	<h3 class="card-header bg-secondary text-white">
		About
	</h3>
	<div class="card-body text-center bg-white">
		<img class="img-fluid rounded" src="/profile.jpg"/>
		<hr/>
		<strong>Warren Nelson</strong><br/>
		Software Systems Engineer
		<hr/>
		Focused on Content Delivery, Systems Automation, and Infrastructure
		<hr/>
		<h3>
			<a href="https://www.linkedin.com/in/warrencnelson/"><i class="fab fa-linkedin"></i></a>
			<a href="https://github.com/nelsonw2014"><i class="fab fa-github"></i></a>
			<a href="mailto:me@warrennelson.me"><i class="fas fa-envelope"></i></a>
		</h3>
	</div>
</div>