<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    {% block starthead %}{% endblock starthead %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
    <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
    <meta name="description" content="{{ resource.meta.description }}">
    <meta name="author" content="{{ resource.meta.author }}">
    <meta name="viewport" content="{{ resource.meta.viewport }}">
    <meta name="keywords" content="warren, carrier, nelson, bs, computer, software, systems, engineer, engineering, infrastructure, automation, development, tools, admin, operations, linux, server, devops" />
    <link rel="icon" type="image/png" href="media/images/favicon.png">
    {% block css %}
    <link rel="stylesheet" href="{{ media_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ media_url('css/extra.css') }}">
    {% endblock css %}
    {% block headjs %}
    {% endblock headjs %}
    {% block endhead %}{% endblock endhead %}
  </head>
  <body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
    {% block content %}
    {% from 'macros.j2' import render_nav with context %}

    {{ render_nav(menu) }}    
    <div class="container cont" id="container">
      {% block container %}
      <section class="content">
        {% block main %}
        {% endblock main %}
      </section>
      {% endblock container %}
    </div>
    {% endblock content%}

    <div class="foot">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a> | Built with <a href="http://ringce.com/hyde">hyde</a>.
    </div>

    {% block js %}
    {% block js_base %}
    <script src="{{ media_url('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ media_url('js/bootstrap.min.js') }}"></script> 
    {% endblock js_base %}

    {% block scripts %}
    {% endblock scripts %}


    {% block analytics %}
    {% include "analytics.j2" %}
    {% endblock analytics %}

    {% endblock js %}
  </body>
</html>
